.grid-container{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(206px,1fr));
    grid-template-rows: repeat(auto,1fr);
    /* grid-gap: 3px; */
    grid-row-gap: 13px;
    justify-items: left;
   
}
@media (max-width:768px) {
    .grid-container{
        height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(206px,1fr));
    grid-template-rows: repeat(auto,1fr);
    /* grid-gap: 3px; */
    grid-row-gap:10px;
    grid-column-gap: 10px;
    justify-items: center;
    }
}