/* ul li{
    position: relative;
    top: 0;
    animation: slide 2.5s steps(4) infinite;
   
}
@keyframes slide{
    100%{
        top: -200px;
    }
}

ul li span::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-left: 2px solid red;
    left: 0;
    animation: typing 2.5s steps(4) infinite;
    background: rgb(75 85 99);
}
@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
  
} */
